Python Language Intro (Part 3)
==============================

## Agenda

1.  Language overview
2.  White space sensitivity
3.  Basic Types and Operations
4.  Statements & Control Structures
5.  Functions
6.  OOP (Classes, Methods, etc.)
7.  Immutable Sequence Types (Strings, Ranges, Tuples)
8.  Mutable data structures: Lists, Sets, Dictionaries

In [27]:
# by default, only the result of the last expression in a cell is displayed after evaluation.
# the following forces display of *all* self-standing expressions in a cell.

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 7.  Immutable Sequence Types: Strings, Ranges, Tuples

Recall: All immutable sequences support the
[common
sequence operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations). For many sequence types, there are constructors
that allow us to create them from other sequence types.

### Strings

In [13]:
s = 'hello'

In [14]:
s[0]
s[1:3]
'e' in s
s + s

'h'

'el'

True

'hellohello'

In [15]:
s[0] = 'j'

TypeError: 'str' object does not support item assignment

* Once you assign a string you can't modify it!

In [16]:
t = s
s += s # not mutating the string!

In [17]:
t
s

'hello'

'hellohello'

### Ranges

In [18]:
r = range(150, 10, -8)

In [19]:
r[2]
r[3:7]
94 in r

134

range(126, 94, -8)

True

### Tuples

In [20]:
()

()

In [21]:
(1, 2, 3)

(1, 2, 3)

In [22]:
('a', 10, False, 'hello')

('a', 10, False, 'hello')

* Can be composed of multiple data types.

In [23]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [24]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [27]:
t = tuple('hello')
'e' in t
t[::-1]
t * 3
print((1, 2) * 2)

True

('o', 'l', 'l', 'e', 'h')

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

(1, 2, 1, 2)

## 8.  Mutable data structures: Lists, Sets, Dicts

### Lists

This list supports the
[mutable
sequence operations](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types) in addition to the
[common
sequence operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations).

In [28]:
l = [1, 2, 1, 1, 2, 3, 3, 1]

In [29]:
len(l)

8

In [30]:
l[5]

3

In [31]:
l[1:-1]

[2, 1, 1, 2, 3, 3]

In [32]:
l + ['hello', 'world']

[1, 2, 1, 1, 2, 3, 3, 1, 'hello', 'world']

In [33]:
l # `+` does *not* mutate the list!

[1, 2, 1, 1, 2, 3, 3, 1]

In [34]:
l * 3

[1, 2, 1, 1, 2, 3, 3, 1, 1, 2, 1, 1, 2, 3, 3, 1, 1, 2, 1, 1, 2, 3, 3, 1]

In [38]:
sum = 0
for x in l:
    sum += x
sum

14

#### Mutable list operations

In [7]:
l = list('hell')

In [9]:
l.append('o')

In [10]:
l

['h', 'e', 'l', 'l', 'o']

In [11]:
l.append(' there')

* Adds element to list

In [12]:
l

['h', 'e', 'l', 'l', 'o', ' there']

In [13]:
del l[-1]

In [14]:
l.extend(' there')

* Adds elements of sequence to list

In [15]:
l

['h', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e']

In [16]:
l[2:7]

['l', 'l', 'o', ' ', 't']

In [17]:
del l[2:7]

In [18]:
l

['h', 'e', 'h', 'e', 'r', 'e']

In [51]:
l[:]

['h', 'e', 'h', 'e', 'r', 'e']

#### List comprehensions
- comprehension syntax: =[ expr(x) for x in SEQUENCE]

In [22]:
[x for x in range(10)] # can be assigned to a variable as a list

# is equivalent
result = []
for x in range(10):
    result.append(x)
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
[2*x+1 for x in range(10)] # odd numbers
# calculate something based off of the x

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

* Finds all possible combos by combining two lists

In [54]:
adjs = ('hot', 'blue', 'quick')
nouns = ('table', 'fox', 'sky')
[adj + ' ' + noun for adj in adjs for noun in nouns]

['hot table',
 'hot fox',
 'hot sky',
 'blue table',
 'blue fox',
 'blue sky',
 'quick table',
 'quick fox',
 'quick sky']

In [3]:
# pythagorean triples
n = 50
[(a,b,c) for a in range(1,n)
         for b in range(a,n)
         for c in range(b,n)
         if a**2 + b**2 == c**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### Sets

A
[set](https://docs.python.org/3.7/library/stdtypes.html#set-types-set-frozenset)
is a data structure that represents an *unordered* collection of `unique`
objects (like the mathematical set).

In [11]:
s = {1, 2, 1, 1, 2, 3, 3, 1}

In [12]:
s

{1, 2, 3}

In [13]:
s[0]

TypeError: 'set' object is not subscriptable

* Shown in an order but it is not ordered

In [14]:
t = {2, 3, 4, 5}

In [18]:
s.union(t) 
# returns a new set with distinct elements from all the sets
# in this case, everything in s and everything in t

{1, 2, 3, 4, 5}

In [19]:
s.difference(t) 
# difference between the number of elements in all the sets

{1}

In [20]:
(s, t)

({1, 2, 3}, {2, 3, 4, 5})

In [21]:
s - t

{1}

In [22]:
s.intersection(t) 
# returns a new set with elements that are common to all sets

{2, 3}

In [36]:
str = "Hello World, this is CS331!"
chars = set(str)
print(chars)
print("H" in chars)
print("O" in chars)
print("O" not in chars)

print({1, 2, 3}.union({4, 5}))

{'e', 'h', 'r', ',', 'C', '!', 'd', ' ', 'l', '3', 'S', 'W', 's', '1', 'o', 't', 'H', 'i'}
True
False
True
{1, 2, 3, 4, 5}

In [37]:
str = "Hello World, this is CS331!"
chars = set(str)
chars.add("O")
print(chars)

{'d', 'l', 'S', '1', 'e', 'h', ' ', '3', 'O', 't', 'r', ',', '!', 'W', 's', 'H', 'C', 'o', 'i'}

In [43]:
s = {1, 2, 3}
t = {2, 3, 4}
u = {1, 2, 3, 4, 5}

# compares the length of sets
s < u
s < t
s < s
s <= s

True

False

False

True

In [45]:
s
# checks if all values in left set are in right set
def mysubseteq(left, right):
    for e in left:
        if not e in right:
            return False
    return True

mysubseteq(s, u)
mysubseteq(s, t)

{1, 2, 3}

True

False

In [47]:
def setop_subseteq(left, right):
    return left.intersection(right) == left

setop_subseteq(s, u)
setop_subseteq(s, t)

True

False

In [49]:
def myintersection(left, right):
    pass # only uses union / difference to implement 
myintersection(s, t) == s.intersection(t)
myintersection(s, u) == s.intersection(u)

IndentationError: expected an indented block (<ipython-input-49-4b5b35e5f904>, line 3)

### Dicts

A
[dictionary](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)
is a data structure that contains a set of unique key â†’ value mappings.
* Can't have duplicate keys!

In [50]:
d = {
    'Superman':  'Clark Kent',
    'Batman':    'Bruce Wayne',
    'Spiderman': 'Peter Parker',
    'Ironman':   'Tony Stark'
}

In [43]:
d

{'Superman': 'Clark Kent',
 'Batman': 'Bruce Wayne',
 'Spiderman': 'Peter Parker',
 'Ironman': 'Tony Stark'}

In [44]:
d['Ironman']

'Tony Stark'

In [45]:
d['Clark Kent'] 
# can't look up something by value (must use keys)
# because values don't have to be unique

KeyError: 'Clark Kent'

In [46]:
d['Ironman'] = 'James Rhodes'

In [48]:
d
del d['Ironman']
d

{'Superman': 'Clark Kent',
 'Batman': 'Bruce Wayne',
 'Spiderman': 'Peter Parker',
 'Ironman': 'James Rhodes'}

{'Superman': 'Clark Kent',
 'Batman': 'Bruce Wayne',
 'Spiderman': 'Peter Parker'}

In [57]:
for k, v in d.items():
    print(k, "=>", v)

Superman => Clark Kent
Batman => Bruce Wayne
Spiderman => Peter Parker
Ironman => Tony Stark

In [68]:
heros = list(d.items())
heros

[('Superman', 'Clark Kent'),
 ('Batman', 'Bruce Wayne'),
 ('Spiderman', 'Peter Parker'),
 ('Ironman', 'Tony Stark')]

In [69]:
heros.sort(key=lambda t: t[1])
heros

[('Batman', 'Bruce Wayne'),
 ('Superman', 'Clark Kent'),
 ('Spiderman', 'Peter Parker'),
 ('Ironman', 'Tony Stark')]

In [70]:
for k, v in heros:
    print(k, "=>", v)

Batman => Bruce Wayne
Superman => Clark Kent
Spiderman => Peter Parker
Ironman => Tony Stark

#### Dictionary comprehensions
* A shortcut for specializing and initializing a dictionary

In [55]:
{e:2**e for e in range(0,100,10)}

{0: 1,
 10: 1024,
 20: 1048576,
 30: 1073741824,
 40: 1099511627776,
 50: 1125899906842624,
 60: 1152921504606846976,
 70: 1180591620717411303424,
 80: 1208925819614629174706176,
 90: 1237940039285380274899124224}

In [71]:
{x:y for x in range(3) for y in range(10)}
# keys can only be associated with one value
    # that's why all the values are 9

{0: 9, 1: 9, 2: 9}

In [72]:
sentence = 'a man a plan a canal panama'
{w:w[::-1] for w in sentence.split()}

{'a': 'a', 'man': 'nam', 'plan': 'nalp', 'canal': 'lanac', 'panama': 'amanap'}

In [73]:
sentence.split()

['a', 'man', 'a', 'plan', 'a', 'canal', 'panama']